{% extends 'recommender/base.html' %}
{% load staticfiles %}
{% block content %}
{% if foodnames %}
	<h3>You have eaten these servings today, {{ user.username }}:</h3>
    <ul>
    {% for food in foodnames %}
	<li> {{ food }} </li>
    {% endfor %}
    </ul>
	<br><br>
	<h3><a href="{% url 'recommender:index' %}">Eat another serving</a></h3>
	{% if foodnames|length > 1 %}
	<h3><a href="{% url 'recommender:plot_history' %}">Show your nutritional progress</a></h3>
	{% endif %}
	<h3><a href="{% url 'recommender:reset' %}">Reset your food history</a></h3>
	<br><br>
	<!-- <img src="{% static 'recommender/images/history.png' %}" alt="Food history" width="900" height="600"> -->
{% else %}
    <p>No food history yet. Go <a href="{% url 'recommender:index' %}">Home</a> and eat something!</p>
{% endif %}
<br><br>
<!-- {{ nutrient_history }} -->
{% endblock %}